.goback-btn {
    font-family: 'Montserrat-600';
    font-size: 14px;
    line-height: 1.22;
    text-transform: uppercase;
    color: #373737;

    background-color: #EBD8FF;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    cursor: pointer;
}

.goback-btn:hover {
    background-color: #dec0fe;
}

.home-bgd {
    height: 100vh;
    background-image: linear-gradient(114.99deg, rgba(71, 28, 169, 0.6) -0.99%, rgba(87, 54, 163, 0.6) 54.28%, rgba(75, 42, 153, 0.6) 78.99%), url('../images/signs.png');
    background-repeat: repeat;
    background-size: auto;
    padding-top: 200px;
}

.title-wrap {
    margin-left: auto;
    margin-right: auto;
    background-color: #dec0fe;
    padding: 20px 0px;

    border-radius: 10px;
    border-color: black;
}

.title {
    font-family: 'Montserrat-500';
    font-size: 72px;
    line-height: 1.22;
    text-transform: uppercase;
    text-align: center;

    padding: 0;
    margin: 0;
}